<h2 class="header teal-text text-darken-4">List of transactions</h2>
<p>Shows only verified transactions (transactions stored inside the block).</p>
<table class="bordered highlight">
  <thead>
  <tr>
    <th>Sender</th>
    <th>Recipient</th>
    <th>Amount</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">
    <td>
      <a *ngIf="transaction.sender !== '0'" routerLink="/account/{{transaction.sender}}">{{transaction.sender}}</a>
      <span *ngIf="transaction.sender === '0'">&laquo;&nbsp;mining&nbsp;reward&nbsp;&raquo;</span>
    </td>
    <td><a routerLink="/account/{{transaction.recipient}}">{{transaction.recipient}}</a></td>
    <td>{{transaction.amount}}</td>
    <td>{{transaction.time | date: 'medium'}}</td>
  </tr>
  </tbody>
</table>
